* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, span, p {
    letter-spacing: -.03em;
    line-height: 1.5;
    margin: 0 0 6px;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(0,0,0,.87);
}

p, span {
    color: rgba(0,0,0,.6);
}

.root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* root component position */
.root .header {
    flex: 0 0 auto;
}

.root .content {
    flex: 1 0 auto;
}

.root .footer {
    flex: 0 0 auto;
}

/* navigation */
.nav-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 9999;
    margin-top: 42px;
    padding-right: 42px;
}

.nav-panel .nav-list {
    position: relative;
    align-self: flex-end;
    height: auto;
}

.nav-panel .nav-list .nav-item {
    display: inline-block;
    transition: all .3 ease;
}

.nav-panel .nav-list .nav-item a {
    display: block;
    position: relative;
    cursor: pointer;
    
    color: rgba(255, 255 ,255, 0.9);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;

    transition: all .3s ease;
}

.nav-panel .nav-list .nav-item a:hover {
    color: #FFB74D;
}

.nav-panel.scroll-nav {
    margin-top: 0;
    background-color: white;
    transition: all .3s ease;
}

.nav-panel.scroll-nav .nav-list .nav-item a {
    color: rgba(0,0,0,.87);
}

.nav-panel.scroll-nav .nav-list .nav-item:hover {
    transition: all .3s ease;
    background-color: #FB8C00;
}

.nav-panel.scroll-nav .nav-list .nav-item a:hover {
    color: rgba(255, 255, 255, .9);
}

/* header */
.header {
    position: relative;
    display: table;
    height: 75vh;
}

.header .header-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("/public/images/leasing-header-img.jpg");
    background-position: center 5%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.header .header-bg-image:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

.header .header-title {
    display: table-cell;
    vertical-align: middle;
    padding-left: 14%;
    padding-top: 42px;
}

.header .header-title h2,
.header .header-title h1,
.header .header-title span {
    display: block;
    letter-spacing: -.03em;
    line-height: 1.5;
}

.header .header-title h2 {
    color: rgba(255, 255, 255, .9);
    font-weight: 700;
    font-size: 47px;
}

.header .header-title h1 {
    color: rgba(255, 255, 255, .9);
    font-weight: 500;
    font-size: 52px;
}

.header .header-title span {
    color: white;
    font-weight: 300;
    font-size: 32px;

    max-width: 40vw;
    white-space: normal;
}

.header .header-title hr {
    display: block;
    width: 28vh;
    height: 2px;
    border: 0;
    margin: 5px 0;
    background-color: #FB8C00;
}

.header .to-down-container {
    position: absolute;
    display: block;
    left: 0;
    bottom: 3.5%;
    width: 100%;
    height: auto;
    text-align: center;
}

.header .to-down-container .to-down {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.header .to-down-container .to-down:before,
.header .to-down-container .to-down:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-width: 1px;
    border-style: solid;
    border-radius: 50%;

    animation-name: toDownAnim;
    animation-timing-function: ease-in-out;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.header .to-down-container .to-down:before {
    border-color: #F57C00;
    animation-delay: .5s;
}

.header .to-down-container .to-down:after {
    border-color: #FFB74D;
    animation-delay: 0;
}

.header .to-down-container .to-down i {
    width: inherit;
    height: inherit;
    color: white;
    font-size: 42px;
    margin-top: 3px;
    margin-left: 1px;
}

@keyframes toDownAnim {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: .5
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

/* content */
.content {
    position: relative;
    display: block;
}

.content .container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.content .container .block {
    padding-top: 82px;
    padding-bottom: 82px;
}

.content .container .b-line-1 {
    width: 100%;
    padding-right: 14%;
    padding-left: 14%;
}

.content .container .b-line-2 {
    width: 49.9998%;
    padding-right: 7%;
    padding-left: 7%;
}

.content .container .title {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 42px;
}

.content .container .title h1 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -.03em;
    line-height: 1.5;
    text-transform: uppercase;
    color: rgba(0,0,0,.87);
}

.content .container .descriptor {
    position: relative;
    display: block;
    width: 100%;   
}

.content .container .descriptor p {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -.03em;
    line-height: 1.5;
    text-transform: none;
    color: rgba(0,0,0,.6);
}

/* content about specific styles */
.container.about .block:last-child {
    background-color: #FFB74D;
}

.container.about .block:last-child div {
    vertical-align: middle;
}

.container.about .title {
    text-align: left;
}

.container.about ul li {
    display: block;
    margin-bottom: 42px;
}

.container.about ul li i {
    display: inline-block;
    width: 19%;
    color: #F57C00;
    font-size: 74px;
    text-align: center;
}

.container.about ul li .sub-desc {
    display: inline-block;
    width: 79%;
    padding-right: 12%;
}

/* content conditions specific styles */
.container.conditions .block:first-child {
    background-color: #FFB74D;
}

.container.conditions .block:first-child .title h1,
.container.conditions .block:first-child .descriptor {
    text-align: right;
}

.container.conditions ol {
	list-style-type: none; 
	counter-reset: num;
	position: relative;	    
	margin: 0 0 0 72px;
	padding: 0;
}

.container.conditions ol li {
	position: relative;	
	margin: 0;
	padding: 0 0 35px 0;
    line-height: 35px;
    
    font-size: 18px;
    font-weight: 300;
}

.container.conditions ol li:after {
	content: counter(num); 
	counter-increment: num;
	display: inline-block;
	position: absolute;
	top: 0;
	left: -72px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: transparent;
    color: rgba(0,0,0,.87);
    font-weight: 700;
	text-align: center;
	font-size: 18px;
	border-radius: 50%;
	border: 3px solid #F57C00;
}

.container.conditions ol li:before {
	content: ''; 
	position: absolute;
	top: 45px;
	bottom: 4px;
	left: -53px;    
	width: 1px;
	border-left: 3px dotted #F57C00;
}

.container.conditions ol li:last-child:before {
	display: none;
}

.copy {
    display: block;
    width: 100%;
    text-align: center;
    padding: 25px 0px;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, .5);
}

.copy,
.copy #copy-date {
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
}

/* content contacts specific styles */
.container.contacts .title {
    text-align: left;
}

.container.contacts .block:first-child {
    text-align: right;
}

.container.contacts form {
    display: inline-block;
    position: relative;
    text-align: left;
}

.container.contacts form .data {
    display: block;
    position: relative;
    margin-bottom: 0px;
}

.container.contacts form .data label {
    font-weight: 300;
    font-size: 16px;
}

.container.contacts form .data .input-block {
    position: relative;
    display: table;
    vertical-align: middle;
}

.container.contacts form .data .input-block i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 30px;
    color: rgba(255, 255, 255, .9);
    background-color: rgba(0,0,0,.87);
}


.container.contacts form .data .input-block input {
    display: table-cell;
    width: 300px;
    height: 35px;

    font-size: 18px;
    font-weight: 300;
    padding: 0 5px; 
}

.container.contacts form .data .error,
.container.contacts form .data .valid {
    display: block;
    position: relative;
    height: 0px;
    margin-top: 5px;

    font-size: 14px;
    font-weight: 500;

    color: red;

    visibility: collapse;
    opacity: 0;
    transition: visibility .3s ease, opacity .3s ease;
}

.container.contacts form .data .error-message {
    height: 45px;
    max-height: 45px;
}

.container.contacts form .data .error.show,
.container.contacts form .data .valid.show {
    height: 16px;
    visibility: visible;
    opacity: 1;
}

.container.contacts form input:focus,
.container.contacts form input:hover,
.container.contacts form input::selection,
.container.contacts form textarea:focus,
.container.contacts form textarea:hover,
.container.contacts form textarea::selection {
    outline: none;
}


.container.contacts form textarea,
.container.contacts form input[type="submit"] {
    display: block;
}

.container.contacts form textarea {
    width: 335px;
    height: 150px;
    resize: none;
}

.container.contacts form input[type="submit"] {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 183, 77, .7);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;

    transition: all .3s ease;
    transform: perspective(100px) translateZ(2px);
}

.container.contacts form input[type="submit"]:hover {
    transform: perspective(100px) translateZ(0px);
    background-color: rgba(255, 183, 77, 1);
    box-shadow: none;;
}

.contact {
    margin-bottom: 42px;
    padding: 10px 15px;
    transition: all .3s ease;
}

.contact:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: perspective(500px) translateZ(4px);
}

.contact a {
    display: block;
    margin: 0 0 12px;
    color: rgba(0,0,0,.6);
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;

    transition: all .3s ease;
}

.contact a:hover {
    color: #F57C00;
}

.contact p {
    color: rgba(0,0,0,.87) !important;
}